.idea
.vscode/
*data*
*output*
blender/output
filter
video*
tmp
tmt
*test*
nohup.out
mogetmp
todo.txt
nohup.out
*.txt
!requirements.txt
!CMakeLists.txt
build
*.egg-info
utils/VGGT-Long
utils/MoGe/checkpoints
utils/Depth-Anything-V2
add_ply/*
utils/filter
**/__pycache__