.idea
.vscode/
*data*
*output*
blender/output
filter
video*
tmp
tmt
nohup.out
mogetmp
todo.txt
nohup.output
submodules/diff-gaussian-rasterization
submodules/diff-surfel-rasterization/build
submodules/nvdiffrast/build
submodules/Propagation/build
utils/VGGT-Long
utils/MoGe/checkpoints
utils/Depth-Anything-V2
add_ply/*
utils/filter
**/__pycache__
