save_val: true
model:
  gaussian:
    class_path: internal.models.metrogs.Gaussian2D
    init_args:
      sh_degree: 2
  metric:
    class_path: internal.metrics.metrogs_metrics.DistributedMetrics
  renderer:
    class_path: internal.renderers.metrogs_renderer.DistributedRenderer
    init_args:
      use_app: true
      use_app_time: true
  density: 
    class_path: internal.density_controllers.metrogs_density_controller.DistributedController
trainer:
  strategy:
    class_path: internal.mp_strategy.MPStrategy
  devices: [0]
data:
  path: data/GauU_Scene/SMBU
  parser:
    class_path: internal.dataparsers.estimated_mask_depth_colmap_dataparser.EstimatedDepthColmap
    init_args:
      split_mode: experiment
      eval_image_select_mode: ratio
      eval_ratio: 0.1
      down_sample_factor: 3.4175